<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffec4ec2ed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />

    <title>Login</title>
</head>

<body class="bg-dark">
    <center>
        <section>
            <div class="col-lg-5 bg-dark d-flex flex-column align-items-end min-vh-100">
                <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4" style="color: white">
                    <h1 class="font-weight-bold mb-4">Bienvenidos</h1>
                    <form class="mb-5" action="{{ url_for('login') }}" method="post">
                        <div class="mb-4" style="color: white">
                            <label for="exampleUsername" class="form-label font-weight-bold">Username</label>
                            <input type="text" id="username" name="username" required class="form-control bg-dark-x border-0" placeholder="Ingresa tu usuario" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-4" style="color: white">
                            <label for="examplePassword" class="form-label font-weight-bold">Contraseña</label>
                            <input type="password" id="password" name="password" required class="form-control bg-dark-x border-0 mb-2" placeholder="Ingresa tu contraseña">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
                        <br>
                        <div class="msg" style="color: red">{{ msg }}</div>
                    </form>
                </div>

            </div>
        </section>
    </center>
    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>